[submodule "firmware/libraries/u8g2"]
	path = firmware/libraries/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "firmware/libraries/Adafruit_TinyUSB_Arduino"]
	path = firmware/libraries/Adafruit_TinyUSB_Arduino
	url = https://github.com/adafruit/Adafruit_TinyUSB_Arduino.git
[submodule "firmware/libraries/Adafruit_NeoPixel"]
	path = firmware/libraries/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
